- if @selected_user
  %h1{ style: "margin-top: 10px" }
    Отчетный период:
    %span.label.label-info
      - period = translate_period(session[:period])
      #{ period }
  %hr
  %h3
    %span.glyphicon.glyphicon-user
      #{ @selected_user[:name] }
  %h4
    %br
    %span.glyphicon.glyphicon-calendar
    Дата начала работы:
    #{ @selected_user[:start_date] }
  %br
  %h3
    %span.label.label-info
      Отработано часов
  %table.table.table-condensed
    %tr
      %th="Итого"
      %th="К оплате"
      %th="Овертаймы"
      %th="В отпуске"
      %th="Штраф"
    %tr
      %td="#{ @selected_user[:total] }"
      %td="#{ @selected_user[:pay] }"
      %td="#{ @selected_user[:over] }"
      %td="#{ @selected_user[:bonus] }"
      %td="#{ @selected_user[:fine] }"
  %p="Детализация"
  %table.table.table-condensed
    %tr
      %th='Com'
      %th='Sup'
      %th='Est'
      %th='Int'
      %th='Edu'
      %th='Off'
      %th='Sickness'
      %th='Vacation'
      %th='Unpaid vac-n'
      %th='Holidays'
    %tr
      %td="#{ @selected_user[:com] }"
      %td="#{ @selected_user[:sup] }"
      %td="#{ @selected_user[:est] }"
      %td="#{ @selected_user[:int] }"
      %td="#{ @selected_user[:edu] }"
      %td="#{ @selected_user[:off] }"
      %td="#{ @selected_user[:sick] }"
      %td="#{ @selected_user[:vac] }"
      %td="#{ @selected_user[:unpaid] }"
      %td="#{ @selected_user[:holidays] }"
  %br
  %h3
    %span.label.label-info
      Отпуск
  %table.table.table-condensed
    %tr
      %th="Часы за текущий год"
      %th="Часы за предыдущие годы"
      %th="Часы доступные на текущий месяц"
    - vac_is_close = highlight_vac(@selected_user[:start_date],  @selected_user[:vac_cur_year])
    - color = "#F7F7A0" if vac_is_close
    %tr{ bgcolor: color}
      %td="#{ @selected_user[:vac_cur_year] }"
      %td="#{ @selected_user[:vac_prev_year] }"
      %td="#{ @selected_user[:vac_cur_month] }"
  - if vac_is_close
    %span.label.label-warning
      В ближаейшее время остаток рабочих часов отпуска за текущий рабочий год может сгореть до 64 часов.

  %br
  %h3
    %span.label.label-info
      Остаток оплачиваемых часов(100%) по болезни
  %table.table.table-condensed
    %tr
      %th='Год'
      %th='Янв'
      %th='Феб'
      %th='Мар'
      %th='Апр'
      %th='Май'
      %th='Июн'
      %th='Июл'
      %th='Авг'
      %th='Сен'
      %th='Окт'
      %th='Ноя'
      %th='Дек'
    %tr
      %td='Рабочий'
      %td="#{ @selected_user[:jan_w] }"
      %td="#{ @selected_user[:feb_w] }"
      %td="#{ @selected_user[:mar_w] }"
      %td="#{ @selected_user[:apr_w] }"
      %td="#{ @selected_user[:may_w] }"
      %td="#{ @selected_user[:jun_w] }"
      %td="#{ @selected_user[:jul_w] }"
      %td="#{ @selected_user[:aug_w] }"
      %td="#{ @selected_user[:sep_w] }"
      %td="#{ @selected_user[:oct_w] }"
      %td="#{ @selected_user[:nov_w] }"
      %td="#{ @selected_user[:dec_w] }"
    %tr
      %td='Календарный'
      %td="#{ @selected_user[:jan_c] }"
      %td="#{ @selected_user[:feb_c] }"
      %td="#{ @selected_user[:mar_c] }"
      %td="#{ @selected_user[:apr_c] }"
      %td="#{ @selected_user[:may_c] }"
      %td="#{ @selected_user[:jun_c] }"
      %td="#{ @selected_user[:jul_c] }"
      %td="#{ @selected_user[:aug_c] }"
      %td="#{ @selected_user[:sep_c] }"
      %td="#{ @selected_user[:oct_c] }"
      %td="#{ @selected_user[:nov_c] }"
      %td="#{ @selected_user[:dec_c] }"
- else
  .center{ align: 'center', style: "margin-top: -10;"}
    %h2
      %span.label.label-success
        %span.glyphicon.glyphicon-warning-sign
        Выполните шаги 1 и 2

