%h3
  %span.label.label-info.small-label
    Остаток оплачиваемых часов(100%) по болезни
.table-responsive
  %table.table.table-condensed.small-table
    %tr
      %th='Год'
      %th='Янв'
      %th='Феб'
      %th='Мар'
      %th='Апр'
      %th='Май'
      %th='Июн'
      %th='Июл'
      %th='Авг'
      %th='Сен'
      %th='Окт'
      %th='Ноя'
      %th='Дек'
    %tr
      %td='Рабочий'
      %td="#{ @selected_user[:jan_w] }"
      %td="#{ @selected_user[:feb_w] }"
      %td="#{ @selected_user[:mar_w] }"
      %td="#{ @selected_user[:apr_w] }"
      %td="#{ @selected_user[:may_w] }"
      %td="#{ @selected_user[:jun_w] }"
      %td="#{ @selected_user[:jul_w] }"
      %td="#{ @selected_user[:aug_w] }"
      %td="#{ @selected_user[:sep_w] }"
      %td="#{ @selected_user[:oct_w] }"
      %td="#{ @selected_user[:nov_w] }"
      %td="#{ @selected_user[:dec_w] }"
    %tr
      %td='Календарный'
      %td="#{ @selected_user[:jan_c] }"
      %td="#{ @selected_user[:feb_c] }"
      %td="#{ @selected_user[:mar_c] }"
      %td="#{ @selected_user[:apr_c] }"
      %td="#{ @selected_user[:may_c] }"
      %td="#{ @selected_user[:jun_c] }"
      %td="#{ @selected_user[:jul_c] }"
      %td="#{ @selected_user[:aug_c] }"
      %td="#{ @selected_user[:sep_c] }"
      %td="#{ @selected_user[:oct_c] }"
      %td="#{ @selected_user[:nov_c] }"
      %td="#{ @selected_user[:dec_c] }"
